.footer {
  background-color: #1F1D14;
  border-top: 24px solid #FBD029;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;

  * {
    color: #fff;
  }

  .footer_logo {
    gap: 11px;

    h1 {
      font-size: 24px;
      font-weight: 600;
      line-height: 28px;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      font-size: 18px;
      font-weight: 700;
    }

    a {
      font-size: 24px;
      font-weight: 500;
      gap: 13px;

      img {
        width: 18px;
      }

      span {
        font-weight: 400;
      }
    }

    .mail {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 16px;

      }
    }
  }

  .location {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .support {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
      font-size: 18px;
      font-weight: 700;
    }

    input {
      padding: 12px 18px;
      border-radius: 8px;
      border: none;
      outline: none;
      color: #000;
      box-sizing: content-box;

      &::placeholder {
        color: #9A9EA5;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .support_btn {
      color: #1F1D14;
      font-size: 16px;
      font-weight: 400;
      border-radius: 6px;
      background: #FBD029;
      padding: 10px 0;
      width: 100%;
      border: none;
    }
  }

  .havola {
    display: flex;
    gap: 15px;

    i {
      color: #fff;
      font-size: 30px;
    }
  }
}

.footer_bottom {
  background-color: #1F1D14;
  border-top: 1px solid rgba(242, 242, 242, 0.3);
  padding: 13px 0 22px;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;

  .fBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 50px 8.5%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 10px;
    justify-content: space-between;

    .location {
      grid-column: 2/3;
    }

    .contact {
      grid-row: 2/3;
      align-items: start;
    }
  }

  .footer_bottom {
    .fBottom {
      flex-direction: row;
      gap: 40px;
    }
  }
}

@media (min-width: 992px) {
  .footer {
    grid-template-columns: auto auto auto auto;
    align-items: start;
    gap: 4%;

    .footer_logo {
      grid-column: 1/2;
    }

    .contact {
      grid-column: 2/3;
      grid-row: 1/2;
      align-items: start;
    }

    .location {
      grid-column: 3/4;
      justify-content: start;
      text-align: start;
    }
  }

  .footer_bottom {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 8.5% 20px;
  }
}